body {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-button {
    display: flex;
    gap: 8px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.socials {
    display: flex;
    gap: 8px;
}